@import"./header.css";
@import"./main.css";
@import"./footer.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-style: normal;

}

body{
  background: linear-gradient(#1354A5 0%, #041832 33.33%, #041832 66.67%, #01080E 100%);
  width: 100vw;
  height: 100vh;
  
}
body::before {
  background-image: url("../assets/seguranca-cibernetica-de-ia-protecao-contra-virus-de-aprendizado-de-maquina\ \(1\).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;

}


